
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>杨工个人博客</title>
</head>

<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="static/css/common.css"/>
<link rel="stylesheet" type="text/css" href="static/css/about.css"/>
<link href="logo.ico" rel="shortcut icon"/>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/plugin/jquery.page.js"></script>
<script src="static/js/common.js"></script>
<!--<script src="js/snowy.js"></script>-->

<body>
	{%include 'header.html' %}
	<div class="w_container">
		<div class="container">
			<div class="row w_main_row">
				
				<ol class="breadcrumb w_breadcrumb">
				  <li><a href="/">首页</a></li>
				  <li class="active">关于我</li>
				  <span class="w_navbar_tip">像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span>
				</ol>
				
				<div class="col-lg-9 col-md-9 w_main_left" style="height: 1000px;">
					<div class="about">
					  <h2>Just about me</h2>
					    <ul> 
							<p>作者杨工，高级嵌入式软件工程师、c++软件工程师、Android软件工程师。专注分享c++、QT、嵌入式linux、Android、AIoT（物联网+人工智能）、单片机、通信技术、开发</p>
					    </ul>
					  <h2>About my blog</h2>
					    <ul>
					    	<p>域  名：blog.csdn.net/qq8864 创建于2017年02月02日 <a href="/" class="blog_link" target="_blank">注册域名</a></p>
						    <p>服务器：腾讯云服务器<a href="/" class="blog_link" target="_blank">购买空间</a></p>
					    </ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 w_main_right">
					<div class="about_c">
					    <p>昵称：<span>阿贞</span> | <a href="https://blog.csdn.net/qq8864" target="_blank">特立独行的猫a</a></p>
					    <p>QQ：534117529</p>
					    <p>微信：yongzhen1111</p>
					    <p>现居：郑州市—高新区</p>
					    <p>职业：工程师</p>
						<p>微信号：</p>
						<img src="static/img/me.png" style="height: 230.5px;width: 230.5px;" />
					</div>
				</div>
			
			
			</div>
		</div>
	</div>
	{%include 'footer.html' %}
	<!--snow-->
	<!--<div class="snow-container"></div>-->
</body>
</html>