
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>杨工个人博客</title>
</head>

<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="static/css/common.css"/>
<link rel="stylesheet" type="text/css" href="static/css/about.css"/>
<link href="logo.ico" rel="shortcut icon"/>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/plugin/jquery.page.js"></script>
<script src="static/js/common.js"></script>
<!--<script src="js/snowy.js"></script>-->

<body>
	{%include 'header.html' %}
	<div class="w_container">
		<div class="container">
			<div class="row w_main_row">
				
				<ol class="breadcrumb w_breadcrumb">
				  <li><a href="/">首页</a></li>
				  <li class="active">管理员</li>
				  <span class="w_navbar_tip">像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span>
				</ol>
				
				<div class="col-lg-9 col-md-9 w_main_left" style="height: 1000px;">
					<div class="about">
						<h2>发表说说</h2>
						<form action="/saysay" method="post">
							<div class="form-group">
								<label for="author">作者</label>
								<input type="text" class="form-control" id="author" placeholder="作者">
							</div>
							<div class="form-group">
								<label for="pic">图片</label>
								<input type="text" class="form-control" id="pic" placeholder="说说的网络图片url">
							</div>
							<div class="form-group">
								<label for="say">说说</label>
								<textarea class="form-control" id="message" name="message" rows="3" placeholder="说说的内容" required></textarea>
							</div>
							<button type="submit" class="btn btn-default">发表</button>
						</form>

						<h2>上传文章</h2>
						<form action="file_upload" method="post" enctype="multipart/form-data">
							<div class="form-group">
								<label for="exampleInputFile">文件上传</label>
								<input type="file" id="file_upload" accept=".md,.md">
								<p class="help-block">Example block-level help text here.</p>
							</div>
							<button type="submit" class="btn btn-default">上传</button>
						</form>
						
					</div>
				</div>
				<div class="col-lg-3 col-md-3 w_main_right">
					<div class="about_c">
					    <p>昵称：<span>阿贞</span> | <a href="https://blog.csdn.net/qq8864" target="_blank">特立独行的猫a</a></p>
					    <p>QQ：534117529</p>
					    <p>微信：yongzhen1111</p>
					    <p>现居：郑州市—高新区</p>
					    <p>职业：工程师</p>
						<p>微信号：</p>
						<img src="static/img/me.png" style="height: 230.5px;width: 230.5px;" />
					</div>
				</div>
			
			</div>
		</div>
	</div>
	{%include 'footer.html' %}
	<!--snow-->
	<!--<div class="snow-container"></div>-->
</body>
</html>