<div class="w_header">
    <div class="container">
        <div class="w_header_top">
            <a href="#" class="w_logo"></a>
            <span class="w_header_nav" id = "nav">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/article">成长</a></li>
                <li><a href="/learn">学习</a></li>
                <li><a href="/play">娱乐</a></li>
                <li><a href="/moodList">说说</a></li>
                <li><a href="/comment">留言</a></li>
                <li><a href="/about">关于</a></li>
            </ul>
            </span>
            <div class="w_search">
                <div class="w_searchbox">
                    <input type="text" placeholder="search" />
                    <button>搜索</button>
                </div>
            </div>
        </div>
    </div>
</div>