
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>杨工个人博客</title>
</head>

<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="static/css/common.css"/>
<link rel="stylesheet" type="text/css" href="static/css/article.css"/>
<link rel="stylesheet" href="static/css/jquery.page.css">
<link href="logo.ico" rel="shortcut icon"/>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/plugin/jquery.page.js"></script>
<script src="static/js/common.js"></script>
<!--<script src="js/snowy.js"></script>-->
<!-- <script type="text/javascript">
$(function(){
	$("#page").Page({
	  totalPages: 7,//分页总数
	  liNums: 5,//分页的数字按钮数(建议取奇数)
	  activeClass: 'activP', //active 类样式定义
	  callBack : function(page){
			//console.log(page)
	  }
  });
})
</script> -->

<body>
	{%include 'header.html' %}
	<div class="w_container">
		<div class="container">
			<div class="row w_main_row">
				
				<ol class="breadcrumb w_breadcrumb">
				  <li><a href="/">首页</a></li>
				  <li class="active">{{item}}</li>
				  <span class="w_navbar_tip">我们长路漫漫，只因学无止境。</span>
				</ol>
				
				<div class="col-lg-9 col-md-9 w_main_left">
					<div class="panel panel-default">
					  <div class="panel-body contentList">
						{% for art in arts %}
						<div class="panel panel-default w_article_item">
							<div class="panel-body">
							  <div class="row">
								<div class="col-xs-6 col-md-3">
								  <a href="#" class="thumbnail w_thumbnail">
									<img src={{"static/images/"+art.imgFile}} alt="...">
								  </a>
								</div>
							  
								<h4 class="media-heading">
									<a class="title"  href={{"/article_detail?id="+art.id}}>{{art.title}}</a>
								</h4>
								<!-- <p><a class="label label-default">Nginx</a><a class="label label-default">tomcat负载均衡</a></p> -->
								<p class="w_list_overview overView">{{art.summary}}</p>
								<p class="count_r">
									<span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">{{art.author}}</a></span> 
									<span class="count"><i class="glyphicon glyphicon-eye-open"></i>阅读:{{art.visitCnt}}</span>
									<span class="count"><i class="glyphicon glyphicon-comment"></i>评论:0</span>
									<span class="count"><i class="glyphicon glyphicon-time"></i>{{art.date}}</span>
								</p>
							  </div>
							</div>
						  </div>
						{% endfor %}
						<!--<div class="page">
							<nav aria-label="Page navigation">
						  <ul class="pagination">
						    <li>
						      <a href="#" aria-label="Previous">
						        <span aria-hidden="true">&laquo;</span>
						      </a>
						    </li>
						    <li class="active"><a href="#">1</a></li>
						    <li><a href="#">2</a></li>
						    <li><a href="#">3</a></li>
						    <li><a href="#">4</a></li>
						    <li><a href="#">5</a></li>
						    <li>
						      <a href="#" aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    </li>
						  </ul>
						</nav>
						</div>-->
						<div id="page">
							<div class="next fr">»</div>
							<div class="last fr"><a href={{"/items?id="+item+"&page="+tab|length|safe}}>末页</a></div>
							<ul class="pagingUl">
								{% for tb in tab %}
								{% if curPage == loop.index %}
								<li><a href={{"/items?id="+item+"&page="+loop.index|safe}} class="activP">{{loop.index}}</a></li>
								{% else %} 
								<li><a href={{"/items?id="+item+"&page="+loop.index|safe}}>{{loop.index}}</a></li>
								{% endif %}
								{% endfor %}
							</ul>
							<div class="first fr"><a href={{"/items?id="+item+"&page=1"}}>首页</a></div>
							<div class="prv fr">«</div>
						</div>
						
					  </div>
					</div>
					
				</div>
				<div class="col-lg-3 col-md-3 w_main_right">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">文章分类</h3>
						</div>
						<div class="panel-body">
							<div class="sunnav">
								<ul style="padding-left:0em;padding-top:0em;">
									{% for itm in items %}
									<li><a href={{"/items?id="+itm['item']}} title={{itm['item']}}>{{itm['item']+'('+itm['count']|safe+')'}}</a></li>
									{% endfor %}
								  </ul>
							  </div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">最新发布</h3>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled sidebar">
								{% for art in news %}
								<li><a href={{"/article_detail?id="+art.id}}>{{art.title}}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">热门点击</h3>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled sidebar">
								{% for art in hots %}
								<li><a href={{"/article_detail?id="+art.id}}>{{art.title}}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">友情链接</h3>
					  </div>
					  <div class="panel-body">
					    <div class="newContent">
					    	<ul class="list-unstyled sidebar shiplink">				
								<li><a href="https://www.baidu.com/" target="_blank">百度</a></li>
								<li><a href="https://www.oschina.net/" target="_blank">开源中国</a></li>							
								<li><a href="http://www.ulewo.com/" target="_blank">有乐网</a></li>							
								<li><a href="http://www.sina.com.cn/" target="_blank">新浪网</a></li>							
								<li><a href="http://www.qq.com/" target="_blank">腾讯网</a></li>							
							</ul>
					    </div>
					  </div>
					</div>
				</div>
			
			
			</div>
		</div>
	</div>
	{%include 'footer.html' %}
	<!--snow-->
	<!--<div class="snow-container"></div>-->
</body>
</html>